extends layout

block content
  h1 Registo
    .w3-container
        form.w3container(action="/users/registo" method="GET")
            input.w3-btn(type="submit" value="registo")
  h1 Autenticação
    .w3-container
        form.w3container(action="/users/login" method="GET")
            input.w3-btn(type="submit" value="login")
