extends layout
block content
    h1 Autenticação
    .w3-container
        form.w3container(action="/servicoautenticacao/api/users/login" method="POST")
            input.w3-input.w3-border-w3.light-grey(name="email" type="email" placeholder="Email" required)
            input.w3-input.w3-border-w3.light-grey(name="password" type="password" placeholder="Password" required)
            input.w3-btn.w3-blue-grey(type="submit" value="login")